.button {
    background-color: #ccff86; /* Green */
    color: #000000;
    padding: 2px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* https://www.w3schools.com/css/css3_borders.asp */
    box-shadow: 1px 1px 1px #888888;
}
.container {
    width: 700px;
    margin: 0 auto;
}
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #535252;
    padding-bottom: 15px;
    padding-top: 15px;
}
nav a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
}
table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
