<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/Stylesheet.css}"/>
</head>
<div th:replace="header">...</div>
<body>
    <div class="container">
        <h1 th:text="'Add Tasks to project: '+ ${projectID.projectName}"></h1>
        <h3 th:text="'The difference  between budget and the total cost is: ' + ${projectID.projectBudget - taskCost.taskCost}"></h3>
        <h4 th:text="'Project Budget: '+${projectID.projectBudget}"></h4> <h4 th:text="'Total Task Cost: '+${taskCost.taskCost}"></h4>

        <form action="#" th:action="@{/add-task-process}" th:object="${taskData}" method="post">
            <label for="task-name">Insert task name</label>
            <input type="text" id="task-name" th:field="*{taskName}">
            <input type="submit" value="Submit" class="button">
        </form>
        <h2>Added Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Task Cost</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${projectList}">
                <td th:text="${task.taskID}"></td>
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskCost}"></td>
                <td>
                    <a th:href="@{/add-sub-task(id=${task.taskID})}"class="button">Add Sub-Task</a>
                    <a th:href="@{/delete-task(id=${task.taskID})}"class="button">Delete</a>
                    <a th:href="@{/edit-task(id=${task.taskID})}"class="button">Edit task</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>